# Merge Datasets

### This file contains:
- fixing tayara dataset 
- grouping the datsets in a single csv file

In [22]:
import pandas as pd

In [15]:
tayara = pd.read_csv('../../data/raw/tayara.csv')
tayara = tayara.replace({'Yes': 1, 'yes':1,'1':1,'!Yes':1, 'No': 0 ,'Non':0, 'no':0 })
tayara.head()

C:\Users\rezgu\AppData\Local\Temp\ipykernel_24668\2401867940.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tayara = tayara.replace({'Yes': 1, 'yes':1,'1':1,'!Yes':1, 'No': 0 ,'Non':0, 'no':0 })

,Unnamed: 0,surface,region,rooms,bathrooms,parking,pool,vue_panoramique,jardin,climatisation,chauffage_central,ascenseur,price
0,0,141.0,20,3,2,1,0,0,1,0,0,0,490000.0
1,1,100.0,20,2,1,1,0,0,0,1,1,0,380000.0
2,2,130.0,71,3,1,1,0,0,0,1,1,0,180000.0
3,3,120.0,8,2,1,0,0,0,0,0,0,0,240000.0
4,4,148.0,30,3,2,1,0,0,0,0,0,1,365000.0

In [16]:
tayara= tayara.rename(columns={'region':'city'})
tayara=tayara.drop("Unnamed: 0",axis=1)
tayara.columns

Index(['surface', 'city', 'rooms', 'bathrooms', 'parking', 'pool',
       'vue_panoramique', 'jardin', 'climatisation', 'chauffage_central',
       'ascenseur', 'price'],
      dtype='object')

In [17]:
mubaweb=pd.read_csv('../../data/raw/mubaweb.csv')
ds_clean=pd.read_csv('../../data/raw/dataset_clean.csv')
pptc=pd.read_csv('../../data/raw/Property Prices in Tunisia_Cleaned.csv')
tre=pd.read_csv('../../data/raw/tunisia-real-estate_final.csv')

In [18]:
print(tayara["vue_panoramique"].unique())
print(tayara["parking"].unique())
print(tayara["pool"].unique())
print(tayara["jardin"].unique())
print(tayara["climatisation"].unique())
print(tayara["chauffage_central"].unique())
print(tayara["ascenseur"].unique())

[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]

In [19]:
dfs = [tayara, mubaweb, ds_clean, pptc, tre]
df=pd.concat(dfs, ignore_index=True)

In [20]:
print(df["vue_panoramique"].unique())
print(df["parking"].unique())
print(df["pool"].unique())
print(df["jardin"].unique())
print(df["climatisation"].unique())
print(df["chauffage_central"].unique())
print(df["ascenseur"].unique())

[ 0.  1. nan]
[ 1.  0. nan]
[ 0.  1. nan]
[ 1.  0. nan]
[ 0.  1. nan]
[ 0.  1. nan]
[ 0.  1. nan]

In [25]:
df.to_csv('../../data/raw/merged.csv', index=False)