In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("../data/raw/tunisia-real-estate_final.csv")

In [22]:
df.rename(columns={"Delegation": "city"}, inplace=True)

In [23]:
df.rename(columns={"Price": "price", "Surface": "surface"}, inplace=True)

In [24]:
required_columns = [
    "surface", "city", "rooms", "bathrooms", "parking", "pool", 
    "vue_panoramique", "jardin", "climatisation", "chauffage_central", 
    "ascenseur", "price"
]

# Add missing columns with empty values
for col in required_columns:
    if col not in df.columns:
        df[col] = None  

df = df[required_columns]  # Reorder the columns

In [25]:
df.to_csv("../data/raw/tunisia-real-estate_final.csv", index=False)

In [26]:
df.head()

,surface,city,rooms,bathrooms,parking,pool,vue_panoramique,jardin,climatisation,chauffage_central,ascenseur,price
0,70.0,82,2.0,1,None,None,None,None,None,None,None,120000.0
1,130.0,12,3.0,2,None,None,None,None,None,None,None,277000.0
2,111.0,28,2.0,2,None,None,None,None,None,None,None,195000.0
3,150.0,77,3.0,3,None,None,None,None,None,None,None,268000.0
4,134.0,12,3.0,2,None,None,None,None,None,None,None,340000.0