# Mubaweb.csv cities standarzation

### this file contains:
 - standardizing cities names in mubaweb dataset
 - transforming the city name to the proper encoding

In [8]:
import pandas as pd
import json

In [2]:
file_path = r"C:\Users\rezgu\OneDrive\Bureau\Housing_pricing\data\raw\mubaweb.csv"
df = pd.read_csv(file_path)
df.head()

,Title,URL,Price,Surface,Pieces,Rooms,Bathrooms,Location,Description,Type,Condition,Amenities,Published
0,S3 de 147 m carre,https://www.mubawab.tn/fr/a/7987081/s3-de-147-...,480 000 TND,147m²,4 Pièces,3 Chambres,2 Salles de bains,Les Jardins d'El Menzah 2 à\n\t\t\t\t\t\t\tAri...,A VENDRE APPARTEMENT EN S3 DE 147 m .L'ENTRÉE ...,Appartement,Nouveau,"Terrasse, Ascenseur, Vue sur les montagnes, Co...",Publié aujourdhui
1,Magnifique appartement bien sécurisé,https://www.mubawab.tn/fr/a/8043292/magnifique...,410 000 TND,138m²,5 Pièces,3 Chambres,1 Salle de bain,Ariana à\n\t\t\t\t\t\t\tAriana Ville,Cité ghazella a vendre un magnifique apparteme...,Appartement,Bon état,NaN,Publié aujourdhui
2,Appartement s3 a vendre à Ennaser,https://www.mubawab.tn/fr/a/8025448/appartemen...,389 000 TND,125m²,4 Pièces,3 Chambres,2 Salles de bains,Cité Ennasr 1 à\n\t\t\t\t\t\t\tAriana Ville,Sweet Home vous propose à la Vente un appartem...,Appartement,Bon état,"Ascenseur, Concierge, Climatisation, Chauffage...",Publié aujourdhui
3,S1 à vendre _ Résidence La Rose 2,https://www.mubawab.tn/fr/pa/7458624/s1-%C3%A0...,173 875 TND,69m²,2 Pièces,1 Chambre,1 Salle de bain,Ariana à\n\t\t\t\t\t\t\tAriana Ville,Située dans un emplacement idéal sur un axe bi...,Appartement,Nouveau,"Garage, Sécurité",Publié aujourdhui
4,Un S3 à Vendre,https://www.mubawab.tn/fr/a/8026881/un-s3-%C3%...,598 000 TND,194m²,4 Pièces,3 Chambres,2 Salles de bains,Cité Ennasr 2 à\n\t\t\t\t\t\t\tAriana Ville,Century 21 Prestige met à la vente un appartem...,Appartement,Nouveau,"Terrasse, Garage, Ascenseur, Concierge, Climat...",Publié aujourdhui

In [3]:
df['Location'].unique()

array(["Les Jardins d'El Menzah 2 à\n\t\t\t\t\t\t\tAriana Ville",
       'Ariana à\n\t\t\t\t\t\t\tAriana Ville',
       'Cité Ennasr 1 à\n\t\t\t\t\t\t\tAriana Ville',
       'Cité Ennasr 2 à\n\t\t\t\t\t\t\tAriana Ville',
       "Les Jardins d'El Menzah 1 à\n\t\t\t\t\t\t\tAriana Ville",
       'El Menzah 7 à\n\t\t\t\t\t\t\tAriana Ville', 'Ariana Ville',
       'El Menzah 5 à\n\t\t\t\t\t\t\tAriana Ville',
       'Aouina à\n\t\t\t\t\t\t\tLa Marsa',
       'La Marsa à\n\t\t\t\t\t\t\tLa Marsa', 'La Marsa',
       'Les Berges Du Lac 2 à\n\t\t\t\t\t\t\tLa Marsa',
       'Ain Zaghouan Nord à\n\t\t\t\t\t\t\tLa Marsa',
       'Bhar Lazreg à\n\t\t\t\t\t\t\tLa Marsa',
       'Cité des Juges à\n\t\t\t\t\t\t\tLa Marsa',
       'Les Berges Du Lac 1 à\n\t\t\t\t\t\t\tLa Marsa',
       'Cité El Hana à\n\t\t\t\t\t\t\tLa Marsa',
       'Cité Les Pins à\n\t\t\t\t\t\t\tLa Marsa',
       'Cité Du Stade à\n\t\t\t\t\t\t\tLa Marsa',
       'Sidi Daoued à\n\t\t\t\t\t\t\tLa Marsa',
       'Gammarth Supérieur à\n\t\t\t\t\t\t\tLa Marsa',
       'Gammarth à\n\t\t\t\t\t\t\tLa Marsa',
       'Cité El Khalil à\n\t\t\t\t\t\t\tLa Marsa',
       'La Soukra à\n\t\t\t\t\t\t\tLa Soukra',
       'Borj Louzir à\n\t\t\t\t\t\t\tLa Soukra',
       'Chotrana 1 à\n\t\t\t\t\t\t\tLa Soukra',
       'Chotrana 3 à\n\t\t\t\t\t\t\tLa Soukra',
       'Sidi Frej à\n\t\t\t\t\t\t\tLa Soukra', 'La Soukra',
       'Chotrana 2 à\n\t\t\t\t\t\t\tLa Soukra',
       'Les Jardins de Carthage à\n\t\t\t\t\t\t\tLe Kram',
       'Raoued à\n\t\t\t\t\t\t\tRaoued',
       'Cité el Ghazela à\n\t\t\t\t\t\t\tRaoued',
       'Cité Ennkhilet à\n\t\t\t\t\t\t\tRaoued'], dtype=object)

In [ ]:
len(df['Location'].unique())

34

In [6]:
# Apply replacements and convert to lowercase
df['Location'] = df['Location'].str.lower()

In [7]:
df["Location"].head()

0    les jardins d'el menzah 2 à\n\t\t\t\t\t\t\tari...
1                 ariana à\n\t\t\t\t\t\t\tariana ville
2          cité ennasr 1 à\n\t\t\t\t\t\t\tariana ville
3                 ariana à\n\t\t\t\t\t\t\tariana ville
4          cité ennasr 2 à\n\t\t\t\t\t\t\tariana ville
Name: Location, dtype: object

In [9]:
with open("../../utils/city_mapping.json", "r") as file:
    city_mapping = json.load(file)

In [20]:
def standardize_location(location):
    for city in city_mapping.items():
        if city[0] in location:
            return city[1]
    return location

In [21]:
df['Location'] = df['Location'].apply(standardize_location)

In [22]:
df['Location'].unique()

array([14, 28, 12,  1,  4,  8, 16,  2, 11,  5, 45, 32], dtype=int64)

In [23]:
df.to_csv(file_path)