In [1]:
import pandas as pd

In [2]:
file_path = r"C:\Users\rezgu\OneDrive\Bureau\Housing_pricing\data\raw\Property Prices in Tunisia.csv"
df = pd.read_csv(file_path)
df.head()

,category,room_count,bathroom_count,size,type,price,city,region,log_price
0,Appartements,2.0,2.0,113.0,À Vendre,170000.0,Ariana,Ariana Ville,5.230449
1,Appartements,3.0,2.0,138.0,À Vendre,340000.0,Ariana,Jardins D'el Menzah,5.531479
2,Appartements,2.0,1.0,80.0,À Vendre,230000.0,Ariana,Ennasr,5.361728
3,Appartements,4.0,2.0,200.0,À Vendre,440000.0,Ariana,Ennasr,5.643453
4,Appartements,4.0,1.0,160.0,À Vendre,310000.0,Ariana,Autres villes,5.491362

In [3]:
df['city'].unique()

array(['Ariana', 'Ben arous', 'La manouba', 'Tunis'], dtype=object)

In [4]:
df['region'].unique()

array(['Ariana Ville', "Jardins D'el Menzah", 'Ennasr', 'Autres villes',
       'Borj Louzir', 'La Soukra', 'Ghazela', 'Ariana', 'Chotrana',
       'Raoued', 'Mnihla', 'Ettadhamen', 'Sidi Thabet', 'Medina Jedida',
       'Fouchana', 'Mornag', 'El Mourouj', 'Hammam Chott', 'Ezzahra',
       'Boumhel', 'Hammam Lif', 'Ben arous', 'Radès', 'Mégrine',
       'Manouba Ville', 'Oued Ellil', 'Denden', 'La manouba',
       'Douar Hicher', 'Le Bardo', "L'aouina", 'La Marsa', 'La Goulette',
       'Carthage', 'Agba', 'Ettahrir', 'Menzah', 'Tunis', 'Sidi Daoud',
       'Le Kram', 'El Kabaria', 'El Ouardia', 'Manar', 'Ezzouhour',
       'Centre Urbain Nord', 'Médina', 'Centre Ville - Lafayette',
       'Sidi Bou Said', 'Hraïria', 'Sidi Hassine', 'Mutuelleville'],
      dtype=object)

In [5]:
def process_city(row):
    if row['city'] == 'Tunis':
        return 'tunis'
    elif row['city'] == 'Ariana':
        return 'ariana'
    elif row['city'] == 'Ben arous':
        return 'ben arous'
    elif row['city'] == 'La manouba':
        return 'manouba'

In [6]:
def process_region(row):
    region_mapping = {
        "Ariana Ville": "ariana ville",
        "Jardins D'el Menzah": "jardins el menzah",
        "Ennasr": "ennasr",
        "Autres villes": "autres villes",
        "Borj Louzir": "borj louzir",
        "La Soukra": "soukra",
        "Ghazela": "ghazela",
        "Ariana": "ariana",
        "Chotrana": "chotrana",
        "Raoued": "raoued",
        "Mnihla": "mnihla",
        "Ettadhamen": "ettadhamen",
        "Sidi Thabet": "sidi thabet",
        "Medina Jedida": "medina jedida",
        "Fouchana": "fouchana",
        "Mornag": "mornag",
        "El Mourouj": "mourouj",
        "Hammam Chott": "hammam chott",
        "Ezzahra": "ezzahra",
        "Boumhel": "boumhel",
        "Hammam Lif": "hammam lif",
        "Ben arous": "ben arous",
        "Radès": "rades",
        "Mégrine": "megrine",
        "Manouba Ville": "manouba ville",
        "Oued Ellil": "oued ellil",
        "Denden": "denden",
        "La manouba": "manouba",
        "Douar Hicher": "douar hicher",
        "Le Bardo": "bardo",
        "L'aouina": "aouina",
        "La Marsa": "marsa",
        "La Goulette": "la goulette",
        "Carthage": "carthage",
        "Agba": "agba",
        "Ettahrir": "ettahrir",
        "Menzah": "menzah",
        "Tunis": "tunis",
        "Sidi Daoud": "sidi daoud",
        "Le Kram": "kram",
        "El Kabaria": "kabaria",
        "El Ouardia": "ouardia",
        "Manar": "manar",
        "Ezzouhour": "ezzouhour",
        "Centre Urbain Nord": "centre urbain nord",
        "Médina": "médina",
        "Centre Ville - Lafayette": "lafayette",
        "Sidi Bou Said": "sidi bou said",
        "Hraïria": "hraïria",
        "Sidi Hassine": "sidi hassine",
        "Mutuelleville": "mutuelleville"
    }

    # Return the mapped region name, or the original if not in the mapping
    return region_mapping.get(row['region'], row['region'])

In [7]:
df['city']=df.apply(process_city,axis=1)

In [8]:
df['region']=df.apply(process_region,axis=1)

In [9]:
df.head()

,category,room_count,bathroom_count,size,type,price,city,region,log_price
0,Appartements,2.0,2.0,113.0,À Vendre,170000.0,ariana,ariana ville,5.230449
1,Appartements,3.0,2.0,138.0,À Vendre,340000.0,ariana,jardins el menzah,5.531479
2,Appartements,2.0,1.0,80.0,À Vendre,230000.0,ariana,ennasr,5.361728
3,Appartements,4.0,2.0,200.0,À Vendre,440000.0,ariana,ennasr,5.643453
4,Appartements,4.0,1.0,160.0,À Vendre,310000.0,ariana,autres villes,5.491362

In [10]:
df.to_csv(file_path)