In [9]:
import pandas as pd

### 1. Load the data

In [50]:
file_path = r"C:\Users\rezgu\OneDrive\Bureau\Housing_pricing\data\raw\tayara.csv"
df = pd.read_csv(file_path)
df.head()

,price,transaction,title,city,region,description,surface,bathrooms,rooms
0,490000.0,sale,S+3 avec jardin à chotrana 1,ariana,chotrana 1,Cet appartement est situé au rez-de-chaussée d...,141,3.0,3
1,380000.0,sale,un s+2 à chotrana 1,ariana,chotrana 1,Cet appartement est situé à chotrana 1 dans un...,100,1.0,2
2,180000.0,sale,S+3 en vente,manouba,manouba ville,Cet appartement se situe à Dyar ben Mahmoud Ag...,130,1.0,4
3,240000.0,sale,Charmant S+2 avec grande terrasse à vendre,tunis,gammarth,À vendre : Appartement S+2 avec une grande ter...,120,1.0,1
4,365000.0,sale,appartement s3 ennaser bon prix,ariana,ennasr 2,a vendre a ennaser un appartement s3 au 5éme é...,148,2.0,03

### 2. Print Current Values

In [29]:
df['city'].unique()

array(['Ariana', 'La_Manouba', 'Tunis', 'Ben_Arous', 'tunis'],
      dtype=object)

In [38]:
df['region'].unique()

array(['Chotrana_1', 'Manouba_Ville', 'Gammarth', 'Cit_Ennasr_2',
       'Ghazela', 'Boumhel', 'Les_Jardins_El_Menzah_1', 'La_Soukra',
       'Mgrine', 'Borj_Cedria', 'Lac_1', 'Medina_Jedida', 'Ariana',
       'Jardins_De_Carthage', 'Agba', 'Chotrana_2', 'Le_Kram', 'L_Aouina',
       'La_Marsa', 'El_Menzah_6', 'La_Goulette', 'El_Menzah_9', 'Rads',
       'Monfleury', 'Centre_Ville_Lafayette', 'Sidi_Hassine',
       'Hammam_Lif', 'Ain_Zaghouen', 'El_Ouardia', 'Autres_Villes',
       'Tunis', 'Mornag', 'Lac_2', 'Borj_Louzir', 'Riadh_Andalous',
       'Ain_Zaghouan_Nord', 'El_Mourouj_6', 'Fouchana', 'Carthage',
       'Ben_Arous', 'El_Menzah_7', 'Ariana_Ville', 'Le_Bardo', 'Ennasr',
       'Jardins_El_Menzah', 'El_Manar_1', 'Raoued', 'Cit_Olympique',
       'Ezzahra', 'Ariana_Essoughra', 'El_Manar_2', 'Hammam_Chott',
       'Ain_Zaghouan_Sud', 'La_Manouba', 'Chotrana_3', 'Menzah',
       'Les_Jardins_El_Menzah_2', 'El_Menzah_5', 'Denden', 'El_Mourouj_1',
       'El_Menzah_1', 'Mohamedia', 'Douar_Hicher', 'El_Mourouj',
       'El_Mourouj_5', 'El_Mourouj_4', 'Tunis_Belvedere',
       'Centre_Urbain_Nord', 'Bab_Souika', 'tunis', 'Cite_Ennkhilet',
       'El_Menzah_8', 'Ksar_Said', 'Chotrana', 'Dar_Fadhal'], dtype=object)

### 3. Process Cities

In [39]:
def process_city(row):
    if row['city'] == 'Tunis':
        return 'tunis'
    elif row['city'] == 'Ariana':
        return 'ariana'
    elif row['city'] == 'Ben_Arous':
        return 'ben arous'
    elif row['city'] == 'La_Manouba':
        return 'manouba'

### 4. Process Regions

In [51]:
def process_region(row):
    region_mapping = {
        'Tunis': 'tunis',
        'Ariana': 'ariana',
        'Ben_Arous': 'ben arous',
        'La_Manouba': 'manouba',
        'Chotrana_1': 'chotrana 1',
        'Manouba_Ville': 'manouba ville',
        'Gammarth': 'gammarth',
        'Cit_Ennasr_2': 'ennasr 2',
        'Ghazela': 'ghazela',
        'Boumhel': 'boumhel',
        'Les_Jardins_El_Menzah_1': 'jardins menzah 1',
        'La_Soukra': 'soukra',
        'Mgrine': 'megrine',
        'Borj_Cedria': 'borj cedria',
        'Lac_1': 'lac 1',
        'Medina_Jedida': 'medina jedida',
        'Jardins_De_Carthage': 'jardins de carthage',
        'Agba': 'agba',
        'Chotrana_2': 'chotrana 2',
        'le kram': 'kram',
        'L_Aouina': 'aouina',
        'La_Marsa': 'marsa',
        'El_Menzah_6': 'menzah 6',
        'La_Goulette': 'la goulette',
        'El_Menzah_9': 'menzah 9',
        'Rads': 'rades',
        'Monfleury': 'monfleury',
        'Centre_Ville_Lafayette': 'lafayette',
        'Sidi_Hassine': 'sidi hassine',
        'Hammam_Lif': 'hammam lif',
        'Ain_Zaghouen': 'ain zaghouan',
        'El_Ouardia': 'el ouardia',
        'Autres_Villes': 'autres villes',
        'Mornag': 'mornag',
        'Lac_2': 'lac 2',
        'Borj_Louzir': 'borj louzir',
        'Riadh_Andalous': 'riadh andalous',
        'Ain_Zaghouan_Nord': 'ain zaghouan nord',
        'El_Mourouj_6': 'mourouj 6',
        'Fouchana': 'fouchana',
        'Carthage': 'carthage',
        'El_Menzah_7': 'menzah 7',
        'Ariana_Ville': 'ariana ville',
        'Le_Bardo': 'bardo',
        'Ennasr': 'ennasr',
        'Jardins_El_Menzah': 'jardins el menzah',
        'El_Manar_1': 'manar 1',
        'Raoued': 'raoued',
        'Cit_Olympique': 'cite olympique',
        'Ezzahra': 'ezzahra',
        'Ariana_Essoughra': 'ariana essoughra',
        'El_Manar_2': 'manar 2',
        'Hammam_Chott': 'hammam chott',
        'Ain_Zaghouan_Sud': 'ain zaghouan sud',
        'Chotrana_3': 'chotrana 3',
        'Menzah': 'menzah',
        'Les_Jardins_El_Menzah_2': 'jardins menzah 2',
        'El_Menzah_5': 'menzah 5',
        'Denden': 'denden',
        'el mourouj 1': 'mourouj 1',
        'el menzah 1': 'menzah 1',
        'Mohamedia': 'mohamedia',
        'Douar_Hicher': 'douar hicher',
        'El_Mourouj': 'mourouj',
        'El_Mourouj_5': 'mourouj 5',
        'El_Mourouj_4': 'mourouj 4',
        'Tunis_Belvedere': 'tunis belvedere',
        'Centre_Urbain_Nord': 'centre urbain nord',
        'Bab_Souika': 'bab souika',
        'Cite_Ennkhilet': 'cite ennkhilet',
        'El_Menzah_8': 'menzah 8',
        'Ksar_Said': 'ksar said',
        'Chotrana': 'chotrana',
        'Dar_Fadhal': 'dar fadhal',
    }

    return region_mapping.get(row['region'], row['region'])  # Return original if no mapping

### 5. Apply Transformation

In [45]:
df['city']=df.apply(process_city, axis=1)

In [52]:
df['region']=df.apply(process_region, axis=1)

In [47]:
df.head()

,price,transaction,title,city,region,description,surface,bathrooms,rooms
0,490000.0,sale,S+3 avec jardin à chotrana 1,ariana,chotrana 1,Cet appartement est situé au rez-de-chaussée d...,141,3.0,3
1,380000.0,sale,un s+2 à chotrana 1,ariana,chotrana 1,Cet appartement est situé à chotrana 1 dans un...,100,1.0,2
2,180000.0,sale,S+3 en vente,manouba,manouba ville,Cet appartement se situe à Dyar ben Mahmoud Ag...,130,1.0,4
3,240000.0,sale,Charmant S+2 avec grande terrasse à vendre,tunis,gammarth,À vendre : Appartement S+2 avec une grande ter...,120,1.0,1
4,365000.0,sale,appartement s3 ennaser bon prix,ariana,ennasr 2,a vendre a ennaser un appartement s3 au 5éme é...,148,2.0,03

### 6. Save Changes

In [53]:
df.to_csv(file_path,index=False,header=True)