In [1]:
import pandas as pd

### 1. Load Data

In [2]:
file_path = r"C:\Users\rezgu\OneDrive\Bureau\Housing_pricing\data\raw\tunisia-real-estate.csv"
df = pd.read_csv(file_path)
df.head()

,Governorate,Delegation,Locality,Nature,Type of Real Estate,Surface,Price,Inserted On
0,Tunis,Sidi El Bechir,Sidi El Bechir,Sale,2-room apartment,70.0,120000.0,06/10/2023
1,Tunis,La Marsa,La Marsa,Sale,3-room apartment,130.0,277000.0,23/10/2023
2,Ariana,Ariana Ville,Ariana Ville,Sale,2-room apartment,111.0,195000.0,09/11/2023
3,Tunis,Ettahrir,Ettahrir,Sale,5-room apartment and more,150.0,268000.0,13/11/2023
4,Tunis,La Marsa,La Marsa,Sale,3-room apartment,134.0,340000.0,08/11/2023

### 2. View Current values

In [3]:
df['Governorate'].unique()

array(['Tunis', 'Ariana', 'Ben arous', 'Manouba'], dtype=object)

In [7]:
df['Delegation'].unique()

array(['Sidi El Bechir', 'La Marsa', 'Ariana Ville', 'Ettahrir',
       'Bou Mhel El Bassatine', 'Mannouba', 'Ain Zaghouan', 'Raoued',
       'Cite El Khadra', 'La Goulette', 'La Medina', 'La Soukra',
       'Bab Bhar', 'Ezzahra', 'Hammam Lif', 'Ben Arous', 'Mnihla',
       'El Menzah', 'Rades', 'Hammam Chatt', 'El Ouerdia',
       'El Omrane Superieur', 'Le Bardo', 'El Mourouj', 'El Omrane',
       'Bab Souika', 'El Hrairia', 'Nouvelle Medina', 'Carthage',
       'Sidi Hassine', 'Mornaguia', 'Megrine', 'El Kram', 'Douar Hicher',
       'Fouchana', 'Mornag', 'El Kabbaria', 'Mohamadia', 'Ettadhamen',
       'Oued Ellil', 'Sidi Thabet', 'Tebourba', 'Jebel Jelloud'],
      dtype=object)

### 3. Process Cities

In [10]:
def process_governorate(row):
    if row['Governorate'] == 'Tunis':
        return 'tunis'
    elif row['Governorate'] == 'Ariana':
        return 'ariana'
    elif row['Governorate'] == 'Ben arous':
        return 'ben arous'
    elif row['Governorate'] == 'Manouba':
        return 'manouba'

In [8]:
def process_delegation(row):
    delegation_mapping = {
        'Sidi El Bechir': 'sidi el bechir',
        'La Marsa': 'marsa',
        'Ariana Ville': 'ariana ville',
        'Ettahrir': 'ettahrir',
        'Bou Mhel El Bassatine': 'boumhel el bassatine',
        'Mannouba': 'mannouba',
        'Ain Zaghouan': 'ain zaghouan',
        'Raoued': 'raoued',
        'Cite El Khadra': 'cite el khadra',
        'La Goulette': 'la goulette',
        'La Medina': 'medina jedida',
        'La Soukra': 'soukra',
        'Bab Bhar': 'bab bhar',
        'Ezzahra': 'ezzahra',
        'Hammam Lif': 'hammam lif',
        'Ben Arous': 'ben arous',
        'Mnihla': 'mnihla',
        'El Menzah': 'menzah',
        'Rades': 'rades',
        'Hammam Chatt': 'hammam chott',
        'El Ouerdia': 'ouerdia',
        'El Omrane Superieur': 'omrane superieur',
        'Le Bardo': 'bardo',
        'El Mourouj': 'mourouj',
        'El Omrane': 'omrane',
        'Bab Souika': 'bab souika',
        'El Hrairia': 'hrairia',
        'Nouvelle Medina': 'medina jedida',
        'Carthage': 'carthage',
        'Sidi Hassine': 'sidi hassine',
        'Mornaguia': 'mornaguia',
        'Megrine': 'megrine',
        'El Kram': 'kram',
        'Douar Hicher': 'douar hicher',
        'Fouchana': 'fouchana',
        'Mornag': 'mornag',
        'El Kabbaria': 'kabbaria',
        'Mohamadia': 'mohamadia',
        'Ettadhamen': 'ettadhamen',
        'Oued Ellil': 'oued ellil',
        'Sidi Thabet': 'sidi thabet',
        'Tebourba': 'tebourba',
        'Jebel Jelloud': 'jebel jelloud',
    }

    return delegation_mapping.get(row['Delegation'], row['Delegation'])  # Default to original if no match

In [11]:
df['Governorate'] = df.apply(process_governorate, axis=1)

In [12]:
df['Delegation']=df.apply(process_delegation, axis=1)

In [13]:
df.head()

,Governorate,Delegation,Locality,Nature,Type of Real Estate,Surface,Price,Inserted On
0,tunis,sidi el bechir,Sidi El Bechir,Sale,2-room apartment,70.0,120000.0,06/10/2023
1,tunis,marsa,La Marsa,Sale,3-room apartment,130.0,277000.0,23/10/2023
2,ariana,ariana ville,Ariana Ville,Sale,2-room apartment,111.0,195000.0,09/11/2023
3,tunis,ettahrir,Ettahrir,Sale,5-room apartment and more,150.0,268000.0,13/11/2023
4,tunis,marsa,La Marsa,Sale,3-room apartment,134.0,340000.0,08/11/2023

### 4. Save Changes

In [14]:
df.to_csv(file_path)